@smartphones: ~"only screen and (max-width: 375px)";

@font-size--small: 0.8rem;
@font-size--large: 1rem;
@font-size--medium: 0.9rem;

@color--white: #FFF;
@color--extra-light-gray: #eee;
@color--light-gray: #999;
@color--gray: #484848;
@color--dark-gray: #333333;
@color--black: #000;
@color--yellow: #f5b519;

@color--primary: #1c6f41;
@color--secondary: #004f27;
@color--text: @color--black;

@button--text-color: #FFF;
@button--background-color: @color--primary;
@button--background-color-hover: @color--secondary;

@border--nav-color: #004020;

@font-family: 'Arial';

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?iwwqtx');
	src:  url('../fonts/icomoon.eot?iwwqtx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?iwwqtx') format('truetype'),
		url('../fonts/icomoon.woff?iwwqtx') format('woff'),
		url('../fonts/icomoon.svg?iwwqtx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	color: @color--black;
	font-family: @font-family;
	font-size: @font-size--medium;

	*{
		box-sizing: border-box;
		position: relative;
	}

	a{
		text-decoration: none;
	}

	button{
		border: none;
		background-color: @button--background-color;
		color: @button--text-color;
		cursor: pointer;

		&:hover{
			background-color: @button--background-color-hover;
		}

		&.primary{
			border-radius: 5px;
			padding: 10px 35px;
			box-shadow: 2px 1px 0 @color--secondary;
			&:hover{
				box-shadow: 2px 1px 0 @color--dark-gray;
			}
		}
	}

	.wrapper{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;

		@media @smartphones {
			margin: 0 10px;
		}
	}

	header{

		.header{
			padding: 15px 0;
			display: table;

			.logo{
				float: left;
				width: 138px;
				height: 76px;
			}

			.search{
				float: left;
				width: 525px;
				padding: 25px 25px 0 55px;

				&:before{
					font-family: 'icomoon';
				    content: "\e986";
				    position: absolute;
				    color: #1c6f41;
				    top: 33px;
				    left: 64px;
				    font-size: 2.2rem;
				    z-index: 2;
				}

				#terms-search{
					float: left;
					width: 350px;
					padding: 0 0 0 65px;
					border-radius: 5px 0 0 5px;
					border: solid 1px @color--light-gray;
					height: 50px;
					line-height: 50px;
				}

				.btn-search{
					float: left;
					border-radius: 0 5px 5px 0;
					padding: 0;
					width: 95px;
					height: 50px;
					line-height: 50px;
					background-color: @color--secondary;
					box-shadow: none;

					&:hover{
						background-color: @color--primary;
					}
				}
			}

			.customer{
				float: right;
				display: table;
				width: 335px;
				color: @color--light-gray;
				padding-top: 30px;

				.welcome{
					float: left;
					width: 50%;
					border-right: solid 1px @color--yellow;
					padding-top: 10px;
					padding-left: 47px;

					&:before{
						font-family: 'icomoon';
						content: "\e976";
						position: absolute;
						color: @color--yellow;
						top: 0;
						left: 0;
						font-size: 2.5rem;
					}

					.customer-area{
						display: block;
						font-weight: bold;
						color: @color--dark-gray;
					}
				}

				.mini-cart{
					float: left;
					width: 50%;
					padding-left: 65px;
					padding-top: 10px;

					&:before{
						font-family: 'icomoon';
						content: "\e93a";
						position: absolute;
						color: @color--yellow;
						top: 0;
						left: 10px;
						font-size: 2.5rem;
					}

					.mini-cart_count{
						display: block;
						font-weight: bold;
						color: @color--dark-gray;
					}
				}
			}
		}

		.nav-header{
			background-color: @color--primary;
			position: relative;
			z-index: 1;

			.nav-header_content{
				list-style: none;
				padding: 0;
				display: table;
				width: 100%;

				li{
					float: left;
					display: block;
					text-align: left;
					color: @color--white;

					&:hover{
						background-color: @color--secondary;
					}

					a{
						color: inherit;
						display: block;
						width: 200px;
						height: 60px;
						line-height: 60px;
						border-right: solid 1px @border--nav-color;

						&.menu{
							&:before{
								font-family: 'icomoon';
								content: "\e9bd";
								color: @color--white;
								display: inline-block;
								margin: 0 15px;
								font-size: 2.2rem;
								float: left;
							}
						}

						&.cloud{
							&:before{
								font-family: 'icomoon';
								content: "\e9c1";
								color: @color--white;
								display: inline-block;
								margin: 0 15px;
								font-size: 2.2rem;
								float: left;
							}
						}

						&.android{
							&:before{
								font-family: 'icomoon';
								content: "\eac0";
								color: @color--white;
								display: inline-block;
								margin: 0 15px;
								font-size: 2.2rem;
								float: left;
							}
						}

						&.list{
							&:before{
								font-family: 'icomoon';
								content: "\e926";
								color: @color--white;
								display: inline-block;
								margin: 0 15px;
								font-size: 2.2rem;
								float: left;
							}
						}

						&.desktop{
							&:before{
								font-family: 'icomoon';
								content: "\e956";
								color: @color--white;
								display: inline-block;
								margin: 0 15px;
								font-size: 2.2rem;
								float: left;
							}
						}
					}

					&:last-child{
						a{
							border-right: none;
						}
					}
				}
			}
		}
	}

	.content{
		position: relative;
		z-index: 0;
		display: table;
		width: 100%;

		.warning{
			background: linear-gradient(#515151, #ddd, #ddd, #ddd);
			height: 35px;
			line-height: 35px;
			text-align:center;
			color: @color--dark-gray;
			font-size: @font-size--small;
		}

		.breadcrumbs{
			padding: 20px 0 15px;
			border-bottom: solid 1px @color--light-gray;
			margin-bottom: 45px;

			.breadcrumbs-content{
				list-style: none;
				padding: 0;
				margin: 0;
				display: table;

				.breadcrumb{
					float: left;
					display: block;
					font-size: @font-size--small;
					color: @color--light-gray;

					&:after{
						content: ">";
						display: inline-block;
						margin: 0 15px 0 10px;
					}

					&:last-child{
						color: @color--primary;

						&:after{
							content: none;
						}
					}
				}
			}
		}

		.side-bar{
			width: 220px;
			float: left;
			margin-bottom: 40px;

			.side-categories{
				border: solid 1px @color--light-gray;

				.side-categories_title{
					border-top: solid 1px @color--light-gray;
					border-bottom: solid 1px @color--light-gray;

					&:first-child{
						border-top: none;
					}

					&:last-child{
						border-bottom: none;
					}

					a{
						padding: 20px;
						color: @color--secondary;
						display: block;
					}

					&:hover{
						background-color: @color--extra-light-gray;
						color: @color--white;
					}
				}

				.side-categories_content{
					padding: 20px;
					margin: 0;

					li{
						display: block;

						&.side-category_title{
							color: @color--primary;
							margin-bottom: 20px;
							border-top: solid 1px @color--light-gray;
							padding-top: 20px;
							margin-top: 20px;

							&:first-child{
								border-top: none;
								padding-top: 0;
								margin-top: 0;
							}
						}

						&.side-category_name{

							a{
								color: @color--light-gray;

								&:hover{
									color: @color--gray;
								}
							}
						}
					}
				}
			}
		}

		.products{
			float: left;
			margin-left: 40px;
			width: 740px;

			.tools{
				display: table;
				width: 100%;
				text-align: left;

				.products-count{
					color: @color--light-gray;
					line-height: 39px;

					.products-count_number{
						color: @color--primary;
					}
				}

				button{

					&.action{
						float: right;
					}
				}
			}

			.products-title{
				margin: 40px 0;
				color: @color--primary;
				font-size: 1.5rem;
				text-align: center;
				font-weight: bold;
			}

			.products-carousel{
				margin-bottom: 40px;
				padding: 0 25px;

				.products-list{

					.product{
						text-align: center;

						.product-content{
							display: inline-block;
							width: 213px;
							height: 388px;
							border-radius: 5px;
							border: solid 1px @color--light-gray;
							box-shadow: 6px 6px 5px rgba(0,0,0,.26);
							padding: 20px;
							font-size: 0.68rem;
							margin-bottom: 10px;

							&:hover{
								border: solid 1px @color--primary;
							}

							.product-label{
								background-color: @color--dark-gray;
								color: @color--yellow;
								text-align: center;
								padding: 6px 0;
							}

							.product-description{
								padding: 15px 0 20px;
								margin-bottom: 15px;
								border-bottom: solid 1px @color--light-gray; 
							}

							.product-price{

								.product-price_to{
									font-size: 1rem;
									color: @color--light-gray;
									display: block;
									text-decoration: line-through;
									margin-bottom: 10px;
								}

								.product-price_from{
									font-size: 1.2rem;
									color: @color--primary;
									font-weight: bold;
									display: block;
									margin-bottom: 15px;
								}

								.product-installments{
									display: block;
								}
							}
						}
					}
				}

				.slick-arrow{
					border-right: solid 5px @color--primary;
					border-top: solid 5px @color--primary;
					width: 20px;
					height: 20px;

					&:before{
						content: none;
					}

					&.slick-prev{
						transform: rotate(-135deg);
					}

					&.slick-next{
						transform: rotate(45deg);
					}

					&.slick-disabled{
						opacity: .3;
					}
				}

				.slick-slide{
					text-align: center;
				}
			}

			.products-actions{
				text-align: center;
				margin-bottom: 40px;

				.show-more{
					color: @color--primary;
				}
			}
		}
	}

}