@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?iwwqtx');
  src: url('../fonts/icomoon.eot?iwwqtx#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?iwwqtx') format('truetype'), url('../fonts/icomoon.woff?iwwqtx') format('woff'), url('../fonts/icomoon.svg?iwwqtx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Arial';
  font-size: 0.9rem;
}
body * {
  box-sizing: border-box;
  position: relative;
}
body a {
  text-decoration: none;
}
body button {
  border: none;
  background-color: #1c6f41;
  color: #FFF;
  cursor: pointer;
}
body button:hover {
  background-color: #004f27;
}
body button.primary {
  border-radius: 5px;
  padding: 10px 35px;
  box-shadow: 2px 1px 0 #004f27;
}
body button.primary:hover {
  box-shadow: 2px 1px 0 #333333;
}
body .wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 375px) {
  body .wrapper {
    margin: 0 10px;
  }
}
body header .header {
  padding: 15px 0;
  display: table;
}
body header .header .logo {
  float: left;
  width: 138px;
  height: 76px;
}
body header .header .search {
  float: left;
  width: 525px;
  padding: 25px 25px 0 55px;
}
body header .header .search:before {
  font-family: 'icomoon';
  content: "\e986";
  position: absolute;
  color: #1c6f41;
  top: 33px;
  left: 64px;
  font-size: 2.2rem;
  z-index: 2;
}
body header .header .search #terms-search {
  float: left;
  width: 350px;
  padding: 0 0 0 65px;
  border-radius: 5px 0 0 5px;
  border: solid 1px #999;
  height: 50px;
  line-height: 50px;
}
body header .header .search .btn-search {
  float: left;
  border-radius: 0 5px 5px 0;
  padding: 0;
  width: 95px;
  height: 50px;
  line-height: 50px;
  background-color: #004f27;
  box-shadow: none;
}
body header .header .search .btn-search:hover {
  background-color: #1c6f41;
}
body header .header .customer {
  float: right;
  display: table;
  width: 335px;
  color: #999;
  padding-top: 30px;
}
body header .header .customer .welcome {
  float: left;
  width: 50%;
  border-right: solid 1px #f5b519;
  padding-top: 10px;
  padding-left: 47px;
}
body header .header .customer .welcome:before {
  font-family: 'icomoon';
  content: "\e976";
  position: absolute;
  color: #f5b519;
  top: 0;
  left: 0;
  font-size: 2.5rem;
}
body header .header .customer .welcome .customer-area {
  display: block;
  font-weight: bold;
  color: #333333;
}
body header .header .customer .mini-cart {
  float: left;
  width: 50%;
  padding-left: 65px;
  padding-top: 10px;
}
body header .header .customer .mini-cart:before {
  font-family: 'icomoon';
  content: "\e93a";
  position: absolute;
  color: #f5b519;
  top: 0;
  left: 10px;
  font-size: 2.5rem;
}
body header .header .customer .mini-cart .mini-cart_count {
  display: block;
  font-weight: bold;
  color: #333333;
}
body header .nav-header {
  background-color: #1c6f41;
  position: relative;
  z-index: 1;
}
body header .nav-header .nav-header_content {
  list-style: none;
  padding: 0;
  display: table;
  width: 100%;
}
body header .nav-header .nav-header_content li {
  float: left;
  display: block;
  text-align: left;
  color: #FFF;
}
body header .nav-header .nav-header_content li:hover {
  background-color: #004f27;
}
body header .nav-header .nav-header_content li a {
  color: inherit;
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-right: solid 1px #004020;
}
body header .nav-header .nav-header_content li a.menu:before {
  font-family: 'icomoon';
  content: "\e9bd";
  color: #FFF;
  display: inline-block;
  margin: 0 15px;
  font-size: 2.2rem;
  float: left;
}
body header .nav-header .nav-header_content li a.cloud:before {
  font-family: 'icomoon';
  content: "\e9c1";
  color: #FFF;
  display: inline-block;
  margin: 0 15px;
  font-size: 2.2rem;
  float: left;
}
body header .nav-header .nav-header_content li a.android:before {
  font-family: 'icomoon';
  content: "\eac0";
  color: #FFF;
  display: inline-block;
  margin: 0 15px;
  font-size: 2.2rem;
  float: left;
}
body header .nav-header .nav-header_content li a.list:before {
  font-family: 'icomoon';
  content: "\e926";
  color: #FFF;
  display: inline-block;
  margin: 0 15px;
  font-size: 2.2rem;
  float: left;
}
body header .nav-header .nav-header_content li a.desktop:before {
  font-family: 'icomoon';
  content: "\e956";
  color: #FFF;
  display: inline-block;
  margin: 0 15px;
  font-size: 2.2rem;
  float: left;
}
body header .nav-header .nav-header_content li:last-child a {
  border-right: none;
}
body .content {
  position: relative;
  z-index: 0;
  display: table;
  width: 100%;
}
body .content .warning {
  background: linear-gradient(#515151, #ddd, #ddd, #ddd);
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #333333;
  font-size: 0.8rem;
}
body .content .breadcrumbs {
  padding: 20px 0 15px;
  border-bottom: solid 1px #999;
  margin-bottom: 45px;
}
body .content .breadcrumbs .breadcrumbs-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
}
body .content .breadcrumbs .breadcrumbs-content .breadcrumb {
  float: left;
  display: block;
  font-size: 0.8rem;
  color: #999;
}
body .content .breadcrumbs .breadcrumbs-content .breadcrumb:after {
  content: ">";
  display: inline-block;
  margin: 0 15px 0 10px;
}
body .content .breadcrumbs .breadcrumbs-content .breadcrumb:last-child {
  color: #1c6f41;
}
body .content .breadcrumbs .breadcrumbs-content .breadcrumb:last-child:after {
  content: none;
}
body .content .side-bar {
  width: 220px;
  float: left;
  margin-bottom: 40px;
}
body .content .side-bar .side-categories {
  border: solid 1px #999;
}
body .content .side-bar .side-categories .side-categories_title {
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
}
body .content .side-bar .side-categories .side-categories_title:first-child {
  border-top: none;
}
body .content .side-bar .side-categories .side-categories_title:last-child {
  border-bottom: none;
}
body .content .side-bar .side-categories .side-categories_title a {
  padding: 20px;
  color: #004f27;
  display: block;
}
body .content .side-bar .side-categories .side-categories_title:hover {
  background-color: #eee;
  color: #FFF;
}
body .content .side-bar .side-categories .side-categories_content {
  padding: 20px;
  margin: 0;
}
body .content .side-bar .side-categories .side-categories_content li {
  display: block;
}
body .content .side-bar .side-categories .side-categories_content li.side-category_title {
  color: #1c6f41;
  margin-bottom: 20px;
  border-top: solid 1px #999;
  padding-top: 20px;
  margin-top: 20px;
}
body .content .side-bar .side-categories .side-categories_content li.side-category_title:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
body .content .side-bar .side-categories .side-categories_content li.side-category_name a {
  color: #999;
}
body .content .side-bar .side-categories .side-categories_content li.side-category_name a:hover {
  color: #484848;
}
body .content .products {
  float: left;
  margin-left: 40px;
  width: 740px;
}
body .content .products .tools {
  display: table;
  width: 100%;
  text-align: left;
}
body .content .products .tools .products-count {
  color: #999;
  line-height: 39px;
}
body .content .products .tools .products-count .products-count_number {
  color: #1c6f41;
}
body .content .products .tools button.action {
  float: right;
}
body .content .products .products-title {
  margin: 40px 0;
  color: #1c6f41;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
body .content .products .products-carousel {
  margin-bottom: 40px;
  padding: 0 25px;
}
body .content .products .products-carousel .products-list .product {
  text-align: center;
}
body .content .products .products-carousel .products-list .product .product-content {
  display: inline-block;
  width: 213px;
  height: 388px;
  border-radius: 5px;
  border: solid 1px #999;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.26);
  padding: 20px;
  font-size: 0.68rem;
  margin-bottom: 10px;
}
body .content .products .products-carousel .products-list .product .product-content:hover {
  border: solid 1px #1c6f41;
}
body .content .products .products-carousel .products-list .product .product-content .product-label {
  background-color: #333333;
  color: #f5b519;
  text-align: center;
  padding: 6px 0;
}
body .content .products .products-carousel .products-list .product .product-content .product-description {
  padding: 15px 0 20px;
  margin-bottom: 15px;
  border-bottom: solid 1px #999;
}
body .content .products .products-carousel .products-list .product .product-content .product-price .product-price_to {
  font-size: 1rem;
  color: #999;
  display: block;
  text-decoration: line-through;
  margin-bottom: 10px;
}
body .content .products .products-carousel .products-list .product .product-content .product-price .product-price_from {
  font-size: 1.2rem;
  color: #1c6f41;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}
body .content .products .products-carousel .products-list .product .product-content .product-price .product-installments {
  display: block;
}
body .content .products .products-carousel .slick-arrow {
  border-right: solid 5px #1c6f41;
  border-top: solid 5px #1c6f41;
  width: 20px;
  height: 20px;
}
body .content .products .products-carousel .slick-arrow:before {
  content: none;
}
body .content .products .products-carousel .slick-arrow.slick-prev {
  transform: rotate(-135deg);
}
body .content .products .products-carousel .slick-arrow.slick-next {
  transform: rotate(45deg);
}
body .content .products .products-carousel .slick-arrow.slick-disabled {
  opacity: .3;
}
body .content .products .products-carousel .slick-slide {
  text-align: center;
}
body .content .products .products-actions {
  text-align: center;
  margin-bottom: 40px;
}
body .content .products .products-actions .show-more {
  color: #1c6f41;
}
